# Chapter#3 : Introducing Lists

## Exercise 3.1 : Names

In [156]:
names = ["Hajrah", "Aleena", "Mehwish", "Fatima"]
for name in names:
    print(name)

Hajrah
Aleena
Mehwish
Fatima

## Exercise 3.2 : Greetings

In [157]:
names = ["Hajrah","Aleena", "Mehwish", "Fatima"]
for name in names:
    print(f"Aoa , how are you {name} ? ")

Aoa , how are you Hajrah ?
Aoa , how are you Aleena ?
Aoa , how are you Mehwish ?
Aoa , how are you Fatima ?

## Exercise 3.3 : Your Own List

In [158]:
cars = ["Honda", "Toyota", "Tesla", "Mercedes","Suzuki", "Cybertruck"]
print(f"I would love to own a black {cars[1]} . ")
print(f"{cars[2].title()} is a computer on wheels , its a wonderful car ! ")
print(f"A lot of people don't like {cars[4]} Mehran.")
print(f"{cars[-1]} is a scary car but it is cute . ")

I would love to own a black Toyota .
Tesla is a computer on wheels , its a wonderful car !
A lot of people don't like Suzuki Mehran.
Cybertruck is a scary car but it is cute .

## Exercise 3.4 : Guest List

In [159]:
guest_list = ["Andrew Tate", "Lata Mangaeshkar", "Brooklyn Grock" , "Grimes"]
for guest in guest_list :
    print(f"I would like to have dinner with you {guest}. It would be such a pleasure. You are a treasure.")

print("Andrew Tate won't be able to make it , he is on house arrest .")

I would like to have dinner with you Andrew Tate. It would be such a pleasure. You are a treasure.
I would like to have dinner with you Lata Mangaeshkar. It would be such a pleasure. You are a treasure.
I would like to have dinner with you Brooklyn Grock. It would be such a pleasure. You are a treasure.
I would like to have dinner with you Grimes. It would be such a pleasure. You are a treasure.
Andrew Tate won't be able to make it , he is on house arrest .

## Exercise 3.5 : Changing Guest List

In [160]:
guest_list[0] = "Tristan Tate"
for guest in guest_list:
    print(f"I would like to have you {guest} for dinner tonight , we'll have a wonderful converation.")

I would like to have you Tristan Tate for dinner tonight , we'll have a wonderful converation.
I would like to have you Lata Mangaeshkar for dinner tonight , we'll have a wonderful converation.
I would like to have you Brooklyn Grock for dinner tonight , we'll have a wonderful converation.
I would like to have you Grimes for dinner tonight , we'll have a wonderful converation.

## Exercise 3.6 : More Guests

In [161]:
guest_list[0] = "Tristan Tate"
for guest in guest_list:
    print(f"I would like to have you {guest} for dinner tonight , we'll have a wonderful converation.")

print("\n     I found a bigger dining table ! So now more people can come to my dinner part horray !!  ")

I would like to have you Tristan Tate for dinner tonight , we'll have a wonderful converation.
I would like to have you Lata Mangaeshkar for dinner tonight , we'll have a wonderful converation.
I would like to have you Brooklyn Grock for dinner tonight , we'll have a wonderful converation.
I would like to have you Grimes for dinner tonight , we'll have a wonderful converation.

     I found a bigger dining table ! So now more people can come to my dinner part horray !!

In [162]:
guest_list.insert(0,"Candace Owens")
guest_list.insert(3, "Yasra Rizwi")
guest_list.append("Gabi")
for guest in guest_list:
    print(f"Hello, {guest.title()} ! ")
    print(" \tI hope you are doing well. Let me know if you free. \n")

Hello, Candace Owens !
 	I hope you are doing well. Let me know if you free.

Hello, Tristan Tate !
 	I hope you are doing well. Let me know if you free.

Hello, Lata Mangaeshkar !
 	I hope you are doing well. Let me know if you free.

Hello, Yasra Rizwi !
 	I hope you are doing well. Let me know if you free.

Hello, Brooklyn Grock !
 	I hope you are doing well. Let me know if you free.

Hello, Grimes !
 	I hope you are doing well. Let me know if you free.

Hello, Gabi !
 	I hope you are doing well. Let me know if you free.

## Exercise 3.7 : Shrinking Guest List

In [163]:
print("Sorry for the inconvience , I can only invite some of you for dinner , only two persons. ")

Sorry for the inconvience , I can only invite some of you for dinner , only two persons.

In [164]:
# a= guest_list.pop()
# for a in guest_list:
#    print(f"Sorry {a} , I cannot invite you for dinner. ")
# if guest_length.len() ==2:
#   break            # error



#
print("My original guest list :")
print("\t",guest_list)
print("Due to unconveinice , I can invite only two people for dinner. I am sorry.")
print("\n")

a= guest_list.pop(0)
print(f"Sorry {a} , I couldn't invite you to dinner.")
print(f"\tRemaining people : {guest_list}")
print("\n")

b= guest_list.pop(0)
print(f"Sorry , {b} , I couldn't invite you to dinner.")
print(f"\tRemainig people : {guest_list}")
print("\n")

c= guest_list.pop(2)
print(f"Sorry {c} , I couldn't invite you to dinner.")
print(f"\tRemainig people : {guest_list}")
print("\n")

d = guest_list.pop(3)
print(f"Sorry {d} , I c couldn't invite you for dinner.")
print(f"\tRemaining people : {guest_list}")
print("\n")

e = guest_list.pop(2)
print(f"Sorry {e} , I c couldn't invite you for dinner.")
print(f"\tRemaining people : {guest_list}") # this code will give error if you run more than once
print("\n")

My original guest list :
	 ['Candace Owens', 'Tristan Tate', 'Lata Mangaeshkar', 'Yasra Rizwi', 'Brooklyn Grock', 'Grimes', 'Gabi']
Due to unconveinice , I can invite only two people for dinner. I am sorry.


Sorry Candace Owens , I couldn't invite you to dinner.
	Remaining people : ['Tristan Tate', 'Lata Mangaeshkar', 'Yasra Rizwi', 'Brooklyn Grock', 'Grimes', 'Gabi']


Sorry , Tristan Tate , I couldn't invite you to dinner.
	Remainig people : ['Lata Mangaeshkar', 'Yasra Rizwi', 'Brooklyn Grock', 'Grimes', 'Gabi']


Sorry Brooklyn Grock , I couldn't invite you to dinner.
	Remainig people : ['Lata Mangaeshkar', 'Yasra Rizwi', 'Grimes', 'Gabi']


Sorry Gabi , I c couldn't invite you for dinner.
	Remaining people : ['Lata Mangaeshkar', 'Yasra Rizwi', 'Grimes']


Sorry Grimes , I c couldn't invite you for dinner.
	Remaining people : ['Lata Mangaeshkar', 'Yasra Rizwi']

In [165]:
print(f"{guest_list[0].title()} , you are still invited to the dinner. I am looking forward to meeting you very soon.")
print(f"{guest_list[1].title()} , you are still invited to the dinner. I am looking forward to meeting you very soon.")

Lata Mangaeshkar , you are still invited to the dinner. I am looking forward to meeting you very soon.
Yasra Rizwi , you are still invited to the dinner. I am looking forward to meeting you very soon.

In [166]:
del guest_list[0]
del guest_list[0]
print(guest_list)

[]

In [167]:
number_of_guests = len(guest_list)                 # (from Exercise 3.9)
print(f"I am inviting {number_of_guests} guests for dinner.")

I am inviting 0 guests for dinner.

## Exercise 3.8 : Seeing the World

In [168]:
favourite_places = ["Paris", "Sweden","Thailand","America", "Ethiopia"]
favourite_places

['Paris', 'Sweden', 'Thailand', 'America', 'Ethiopia']

In [169]:
sorted(favourite_places)

['America', 'Ethiopia', 'Paris', 'Sweden', 'Thailand']

In [170]:
favourite_places

['Paris', 'Sweden', 'Thailand', 'America', 'Ethiopia']

In [171]:
sorted( favourite_places, reverse=True)

['Thailand', 'Sweden', 'Paris', 'Ethiopia', 'America']

In [172]:
favourite_places

['Paris', 'Sweden', 'Thailand', 'America', 'Ethiopia']

In [173]:
favourite_places.reverse()
print(favourite_places)

['Ethiopia', 'America', 'Thailand', 'Sweden', 'Paris']

In [174]:
favourite_places.reverse()
favourite_places

['Paris', 'Sweden', 'Thailand', 'America', 'Ethiopia']

In [175]:
favourite_places.sort()
favourite_places

['America', 'Ethiopia', 'Paris', 'Sweden', 'Thailand']

In [176]:
favourite_places.sort(reverse=True)
favourite_places

['Thailand', 'Sweden', 'Paris', 'Ethiopia', 'America']

## Exercise 3.9 : Dinner Guests

In [177]:
number_of_guests = len(guest_list) # (using guest_list list) from exercises 3.4 to 3.7
print(f"I am inviting {number_of_guests} guests for dinner tonight.")  # this will give wrong answer if you run this cell again !!

I am inviting 0 guests for dinner tonight.

In [178]:
guest_list = ["Andrew Tate", "Lata Mangaeshkar", "Brooklyn Grock" , "Grimes"]
number_of_guests= len(guest_list)
print(f"I am inviting {number_of_guests} guests for dinner tonight.")

I am inviting 4 guests for dinner tonight.

## Exercise 3.10 : Every Function

In [71]:
countries = ["Pakistan", "America", "India", "France", "China"]
print(countries)

['Pakistan', 'America', 'India', 'France', 'China']

In [72]:
print(countries[0])

Pakistan

In [73]:
countries[0].title()

'Pakistan'

In [74]:
countries[-2]

'France'

In [75]:
print(f"{countries[0].title()} is a beautiful country with four seasons.")

Pakistan is a beautiful country with four seasons.

In [76]:
countries[4] = "South Korea"
print(countries)

['Pakistan', 'America', 'India', 'France', 'South Korea']

In [77]:
countries.append("New Zealand")
countries

['Pakistan', 'America', 'India', 'France', 'South Korea', 'New Zealand']

In [78]:
countries = []
countries

[]

In [79]:
countries.append("South Korea")
countries.append("Pakistan")
countries.append("India")
countries.append("America")
print(countries) # running more than once this cell will give wrong answer , it will repeat output.

['South Korea', 'Pakistan', 'India', 'America']

In [80]:
countries.insert(0,"United Kingdom")
countries.insert(4,"Palestine")
print(countries)

['United Kingdom', 'South Korea', 'Pakistan', 'India', 'Palestine', 'America']

In [81]:
del countries[2]
print(countries)

['United Kingdom', 'South Korea', 'India', 'Palestine', 'America']

In [82]:
countries.pop()
countries

['United Kingdom', 'South Korea', 'India', 'Palestine']

In [83]:
popped_country = countries.pop()
print(countries)
print(popped_country) # run this cell from start of exercise when running after first time.

['United Kingdom', 'South Korea', 'India']
Palestine

In [85]:
print(f"{popped_country.upper()} is being removed from world map !! ")

PALESTINE is being removed from world map !!

In [86]:
countries

['United Kingdom', 'South Korea', 'India']

In [90]:
most_woke_country = countries.pop(0)
print(f"{most_woke_country.title()} is the most woke country in the given list of countries.")

South Korea is the most woke country in the given list of countries.

In [89]:
print("United Kingdoms is actually the most woke country in the world currently . ")

United Kingdoms is actually the most woke country in the world currently .

In [91]:
countries.remove("India")

In [92]:
print(countries)

[]

In [93]:
countries = ["Pakistan" , "India", "America", "Sweden", "Palestine", "Japan"]
countries

['Pakistan', 'India', 'America', 'Sweden', 'Palestine', 'Japan']

In [95]:
countries.sort()
countries

['America', 'India', 'Japan', 'Pakistan', 'Palestine', 'Sweden']

In [96]:
countries.sort(reverse=True)
countries

['Sweden', 'Palestine', 'Pakistan', 'Japan', 'India', 'America']

In [125]:
#
countries = ["Pakistan", "India", "America", "Sweden", "Palestine", "Japan"]
sorted(countries)

['America', 'India', 'Japan', 'Pakistan', 'Palestine', 'Sweden']

In [126]:
countries

['Pakistan', 'India', 'America', 'Sweden', 'Palestine', 'Japan']

In [127]:
reverse_sorted_countries =  sorted (countries, reverse = True)
print(f"Here is the original list of countries :- \n\t{countries}\n")

print(f"Here is the list of  those countries being sorted in reverse order (reverse alphabetically) :- \n\t{reverse_sorted_countries} \n ")
print(f"Here is the original list of countries again :- \n\t{countries}\n")

Here is the original list of countries :-
	['Pakistan', 'India', 'America', 'Sweden', 'Palestine', 'Japan']

Here is the list of  those countries being sorted in reverse order (reverse alphabetically) :-
	['Sweden', 'Palestine', 'Pakistan', 'Japan', 'India', 'America']

Here is the original list of countries again :-
	['Pakistan', 'India', 'America', 'Sweden', 'Palestine', 'Japan']

In [128]:
countries.reverse()
countries

['Japan', 'Palestine', 'Sweden', 'America', 'India', 'Pakistan']

In [129]:
len(countries)

6

## Exercise 3.11 : Intentional Error

In [131]:
countries

['Japan', 'Palestine', 'Sweden', 'America', 'India', 'Pakistan']

In [132]:
print(countries[6]) # error

IndexError: list index out of range

In [133]:
print(countries[-6])

Japan

In [134]:
print(countries[-7]) # error

IndexError: list index out of range

In [136]:
print( countries[-6])
print(countries[-1])

Japan
Pakistan

In [137]:
#
countries:list = []
countries[-1] # error

IndexError: list index out of range

In [138]:
len(countries)

0

In [139]:
print(countries)

[]